<!doctype html>
/ originalmente forkeado desde https://github.com/bartaz/impress.js
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=1024", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %title Las Traperas | Wayra Perú 2012
    %meta{:content => "Las Traperas Online | Wayra Perú 2012", :name => "description"}/
    %meta{:content => "Mariano Crowe", :name => "author"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic", :rel => "stylesheet"}/
    %link{:href => "css/impress-demo.css", :rel => "stylesheet"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
  
  %body.impress-not-supported
    //// FALLBACK
    .fallback-message
      %p
        Tu navegador
        %b no soporta la tecnología
        utilizada en esta presentación, por lo tanto de presenta un versión simplificada
      %p
        Para ver al presentación tal y como fue diseñanada, por favor instala la última versión de
        %b
          %a{"href" => "https://www.google.com/chrome?hl=es", "target" => "_blank"}
            Chrome

    
    //// PRESENTACION
    #impress
      //// INTRO
      #intro.step.centered{"data-scale" => "1", "data-x" => "-2000", "data-y" => "-2800"}
        %img{:src => "img/lastraperas.png"}/
      #ywayra.title.step.centered{"data-scale" => "1", "data-x" => "-2000", "data-y" => "-2400"}
        %h1 +
        %img{:src => "img/wayra.png"}/
      #idea.title.step.centered{"data-scale" => "4", "data-x" => "-2000", "data-y" => "-1000"}
        %p =
        %h1 Las Traperas Online
        %h2
          %i tu asesor de moda personal

      //// TIMELINE
      #timeline.centered.step{"data-x" => "1800", "data-y" => "-1200", "data-scale"=>"2"}
        %iframe{"src"=>"timeline.html","width"=>"900","height"=>"600"}
        
        
      //// PROBLEMAS
      #problemas.step.big{"data-rotate" => "180", "data-scale" => "6", "data-x" => "3500", "data-y" => "2100"}
        %p
          %b ANÁ LI SIS

      .deco.big.centered{"data-rotate" => "180", "data-x" => "500", "data-y" => "3500", "data-scale" => "5"}
        %h1 MODA

      .deco.big.centered{"data-rotate" => "180", "data-x" => "500", "data-y" => "2200", "data-scale" => "5"}
        %h1 MERCADO

      .deco.centered{"data-rotate" => "180", "data-x" => "500", "data-y" => "900", 'data-scale'=>'5'}
        %h1
          PUBLICIDAD
          %br/
          ONLINE

      ////PROBLEMAS EN LA MODA
      #problemas-moda.step{"data-rotate" => "180", "data-scale" => "1", "data-x" => "2040", "data-y" => "3500", "data-z" => "-1000"}
        %p De la Moda
        
      ////HOGENIZACION
      #standarizacion.step.slide{"data-rotate" => "180", "data-x" => "-1000", "data-y" => "3500"}
        %h1 Moda
        %h2 Standarización de la moda
        %h4{:style=>"z-index: -1"} Cadenas de producción en serie no apuestan por la identidad ni el estilo propio.
        %p.centered{:style=>"z-index: 1"}
          %img{"src"=>"img/moda.png","width"=>"600",:style=>"margin-top: -50px"}
        %h4
          %strong Valor de Las Traperas:
        %h4
          Nuestra oferta viene de "proveedores" (personas) diversos. Hay de todo para todos. 

      ////CALIDAD-PRECIO
      #calidad-precio.step.slide{"data-rotate" => "180", "data-x" => "-2000", "data-y" => "3500"}
        %h1 Moda
        %h2 Relación Calidad-Precio
        %h4 Ropa linda = Ropa cara
        %h4 Ropa barata = Experiencia de compra agotadora (mucha gente, gamarra, polvos, ofertas grandes almacenes, etc)
        %p.centered
          %img{"src"=>"http://1.bp.blogspot.com/-zdt0tJx_cZA/TwDric-FZnI/AAAAAAAAZyc/bQ0I7kAJmbY/s1600/imagen-gamarra_shopping6240f978.jpg","width"=>"600"}
        %h4
          %strong Valor de Las Traperas:
        %h4
          Prendas en perfecto estado, de todas las marcas, de diseño o de gamarra, de buena calidad, a una fracción de su precio original. 
      
      ////PROBLEMAS DEL MERCADO
      #problemas-mercados.step{"data-rotate" => "180", "data-scale" => "1", "data-x" => "-1020", "data-y" => "2800"}
        %p De los Mercados
        
      ////MERCADO DE SEGUNDA MANO
      #segunda-mano.step.slide{"data-rotate" => "180", "data-x" => "-1000", "data-y" => "2200"}
        %h1 Mercado
        %h2 Mercado de segunda mano crece en el mundo
        %h4 En Perú las opciones de prendas de segunda mano son limitadas. Hay tiendas de diseño vintage o mercados informales.
        %p.centered
          %img{"src"=>"img/mercado2.png","width"=>"600",:style=>"margin-top: -30px"}
        %br
        %h4
          %strong Valor de Las Traperas:
        %h4
          Las traperas ofrece compra y venta de prendas de segunda mano de manera organizada, divertida, segura y confiable.
      
      ////CONSUMO RESPONSABLE
      #consumo-responsable.step.slide{"data-rotate" => "180", "data-x" => "-2000", "data-y" => "2200"}
        %h1 Mercado
        %p Mercado de consumidores responsable crece en el mundo
        %h4.list
          %strong Para producior 1 Kg. de ROPA (en promedio):
          %ul
            %li se requieren 1446 galones de AGUA
            %li 1.5 kilos de FERTILIZANTES
            %li 1kg de PESTICIDAS
            %li y produce 1.6 kilos de GASES de efecto invernadero
        %h4{:style=>"margin-top:100px"}
          %strong Valor de Las Traperas:
        %h4
          Las traperas permite comprar prendas con mucho gusto poco gasto y la conciencia limpia. 
          %br
          Contribuye reduciendo la producción de prendas nuevas, creando canales de compra-venta horizontales entre proveedoras como tu y donando un porcentaje de la utilidad a proyectos ambientales. 
        
      ////PROBLEMAS EN LA PUBLICIDAD ONLINE
      #problemas-publicidad-online.step{"data-rotate" => "180", "data-scale" => "1", "data-x" => "-1020", "data-y" => "1400", "data-z" => "-3000"}
        %p.centered De la Publicidad Online
       
      ////CANTIDAD ABRUMADORA
      .step.slide{"data-rotate" => "180", "data-x" => "-1000", "data-y" => "900"}
        %h1 Publicidad Online
        %h2 Extremadamente centralizada
        %ul.left{:style=>'width: 46%; margin-top: 20px; margin-left: -5px'}
          %li 5 empresas se reparten la mitad del negocio
          %li Google, pionero en el área, sigue creciendo
          %li Facebook duplica su participación año a año
          %li Microsoft, Yahoo! y AOL establecen sinergias para no perder mercado

        %iframe.right{"src"=>"graph/distrib-ganancias.html","width"=>"450","height"=>"500",:style=>'margin-right:-30px'}
        %br.clear
        %span.footnote
          %a{:href => "http://www.emarketer.com/PressRelease.aspx?R=1008450", :target => "_blank"} www.emarketer.com
          %a{:href => "http://vapvarun.com/blog/2012/05/23/aol-microsoft-yahoo-join-in-ad-partnership-vapvaun/", :target => "_blank", :style=>'margin-left:50px'} www.vapvarun.com
                
      ////POCO CERTERA
      .step.slide{"data-rotate" => "180", "data-x" => "-2000", "data-y" => "900"}
        %p
          %h1 Publicidad Online
          %h2 Poco certera
          %div
            %p
              Los proveedores de publicidad, deciden qué información darnos, basados en datos
              estadísticos
              %i inferidos
              de los navegadores: nuestros sistemas operativos, tipos de computadoras y lugar desde el cuál nos conectamos.
            %br/
            
          %div.centered.left{"style"=>"width:60%; margin-right: 30px; margin-top: 20px"}
            %strong
              Los usuarios necesitamos
              %i sintonizar
              la publicidad a nuestras necesidades, para poder reducir el
              %i ruido
          %img{"src"=>"http://inthepinesonfbi.files.wordpress.com/2011/03/lady-with-wireless-radio-vintage-rp-postcard_270700241964.jpg?w=500","style"=>"float:left;margin-top: -20px"}

          %span.footnote.left{:style=>'margin-top:-40px'}
            %a{:href => "http://www.wordstream.com/articles/facebook-vs-google-display-network", :target => "_blank"} www.wordstream.com

            
      ////MUCHO WASTE
      .step.slide{"data-rotate" => "180", "data-x" => "-3000", "data-y" => "900"}
        %p
          %h1 Publicidad Online
          %h2 Extremadamente masiva y poco eficiente
          %ul
            %li facebook tiene una penetración del 51% en la población de internet
            %li google tiene una penetración del 90% en la población de internet
            %li facebook sirve 1 trillon de paginas al mes
            %li gooogle sirve 180 billones de anuncios mensualmente
            %li en facebook solamente 5 de cada 100 anuncios mostrados son clickeados
            %li 3 de cada 10 anuncios mostrados en internet, nunca son vistos por los usuarios

          %span.footnote
            %table{:width => "80%"}
              %tr{:width => "50%"}
                %td
                  %a{:href => "http://www.wordstream.com/articles/facebook-vs-google-display-network", :target => "_blank"} www.wordstream.com

                %td
                  %a{:href => "http://www.periscopix.co.uk/blog/latest-2011-google-display-network-benchmarks", :target => "_blank"} www.periscopix.co.uk

              %tr
                %td
                  %a{:href => "http://venturebeat.com/2012/02/02/facebook-ctr/", :target => "_blank"} www.venturebeat.com

                %td
                  %a{:href => "http://www.comscoredatamine.com/2012/02/3-in-10-display-ads-delivered-are-never-seen-often-because-users-fail-to-scroll-down-the-webpage-or-scroll-too-fast/", :target => "_blank"} www.comscoredatamine.com
                 

      ////LA HERRAMIENTA
      #la-herramienta.step.centered{"data-rotate" => "-90", "data-scale" => "12", "data-x" => "8000", "data-y" => "2100"}
        %h1 La herramienta
        %small
          %q ¿Cómo sería?

      .deco.big.centered{"data-x" => "10600", "data-y" => "3300", "data-scale"=>"10"}
        %h1 usuarios

      .deco.big.centered{"data-x" => "10000", "data-y" => "900", "data-scale"=>"7"}
        %h1 nosotros

      .deco.big.centered{"data-x" => "11500", "data-y" => "900", "data-scale"=>"5"}
        %h1
          el
          %br/
          planeta

      ////USUARIOS 1: JUEGOS Y TESTS
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "9400", "data-y" => "2600"}
        %div.title para las usuarias:
        %div.desc
          tests lúdicos sobre tus gustos
          %sup *
        %div.content
          %img{"src"=>"img/use-case1.png","width"=>"950",:style=>"margin-left:-100px" }
        %span.footnote
          %sup *
          La misma razon por la que funciona cosmopolitan

      ////USUARIOS 2: PERSONALIZACION
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "10200", "data-y" => "2600"}
        %div.desc aprende de ellos y les ofrece lo que realmente les puedan interesar
        %div.content
          %img{"src"=>"img/use-case2.png","width"=>"950",:style=>"margin-left:-100px"}

      ////USUARIO 3: HUELLA ECOLOGICA
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "11000", "data-y" => "2600"}
        %span.title.centered calcula tu huella ecológica
        %div.content.centered
          %img{"src"=>"img/use-case3.png","width"=>"950",:style=>"margin-left:-100px"}

      ////USUARIO 4: Y MUCHO MÁS
      .step.slide.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "11800", "data-y" => "2600"}
        %div.title para los usuarios
        %div.desc ... y mucha interacciones más
        %ul.content
          %li mandarle opciones a tu amiga
          %li hacer el test como si fueras tu amiga y mandarle el resultado y compararlo (como te ven tus amigas?)
          %li pedir recomendaciones para situaciones especiales (soy dark y tengo un matri de día, que me pongo?)
          %li promosionar tus productos entre tus amigas
          %li si eres una excelente proveedora, crearte tu propio espacio virtual!
          %li publicar tus combinaciones de prendas
          %li comentar, recomendar con tar historias alrededor de la ropa
          %li dar feedback a la plataforma: además de los colores, me gustaría poder decir si me gustan las prendas apretadas o sueltas
          %li app movil para que puedas atachar fotos a tus prendas, asi poder promocionarlas mejor
          %li tips de cómo promocionar tu ropa en la plataforma
          %li bitácora: hace un año te compraste una compita blanca, qué fue de ella?. Te acuerdas cuando tenias 20 años y eras punk?
        %p ... y mil cosas más q no entran en esta presentación!

      ////NOSOTROS 1
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "9400", "data-y" => "1500"}
        %div.title A nosotros
        %div.centered.content nos permite conocer a nuestr@s usuari@s e identificar tempranamente tendencias
        
      ////NOSOTROS 2
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "10200", "data-y" => "1500"}
        %ul.content
          %li nos permite identificar posibles proveedoras
          %li estimular la creación de un vínculo usuaria-herramienta
          %li ofertar a la medida

      ////PLANETA 1
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "10600", "data-y" => "1500"}
        %div.title para el planeta
        %div.content crea conciencia y promueve el consumo responsable
          
      ////NOSOTROS 3
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "11200", "data-y" => "1500"}
        %div.title nos brinda
        %ul.content
          %li Información más confiable y de primera mano
          %li + una herramienta para el estudio "en vivo" de mercado
          %li
            \=
            %strong Un modelo de negocio basado en la gestión de la información y el conocimiento, que nos permite adaptarnos rápidamente a los cambios del mercado.

      ////PLANETA 2
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "11800", "data-y" => "1500"}
        %div.title para el Planeta y la Humanidad
        %ul.content
          %li Democratización del acceso a la moda
          %li Descentralización y desverticalización de la economía
          %li Minimización de la huella ecológica

      ////POR QUÉ DEBEN ELEGIRNOS
      #por-que-elegirnos.step.centered{"data-scale" => "0.20", "data-x" => "8505", "data-y" => "2000"}
        /%object{:data => "img/Erioll_world_2.svg", :height => "800", :type => "image/svg+xml"}
        /%embed{:src => "img/Erioll_world_2.svg", :type => "image/svg+xml"}/
        /%img#world_img.hidden{:src => "img/world.png"}/
        %div.title ¿Por qué deben elegirnos?
        %ul.content
          %li Equipo multidisciplinario de creativos
          %li Mayormente compuesto por mujeres
          %li Tenemos un mercado ya identificado
      
     
      ////CIERRE
      #por-la-pacha.step.centered{"data-scale" => "0.20", "data-x" => "8505", "data-y" => "2190"}
        /%object{:data => "img/Erioll_world_2.svg", :height => "800", :type => "image/svg+xml"}
        /%embed{:src => "img/Erioll_world_2.svg", :type => "image/svg+xml"}/
        /%img#world_img.hidden{:src => "img/world.png"}/
        %div
          %p compra con mucho gusto
          %p poco gasto
          %p y la conciencia limpia
        %br
        %img{"src"=>"img/logo-reciclaje.png"}
        %br
        %a{:href=>"http://www.lastraperas.com",:target=>"_target"} www.lastraperas.com

      #overview.step{"data-scale" => "15", "data-x" => "3000", "data-y" => "1500"}
  
    ////HINT
    .hint
      %p Barra espaciadora o flechas para navegar
    :javascript
      if ("ontouchstart" in document.documentElement) { 
          document.querySelector(".hint").innerHTML = "Tap a la izquierda o derecha para navegar";
      }
    
    ////IMPRESS IMPORT
    %script{:src => "js/impress.js"}
    :javascript
      impress().init();
    
    ////FOOTER
    %div{:style => "position: fixed; bottom: 10px; left: 10px; pointer-events: auto;"}
      %a{"href" => "https://www.google.com/chrome?hl=es", "target" => "_blank"}
        %img{:atl => "google chrome recomendado", :src => "img/bvi-chrome.png", :title => "google chrome recomendado"}/

    ////ANALYTICS
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26282201-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
