<!doctype html>
/ originalmente forkeado desde https://github.com/bartaz/impress.js
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=1024", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %title Las Traperas | Wayra Perú 2012
    %meta{:content => "Las Traperas Online | Wayra Perú 2012", :name => "description"}/
    %meta{:content => "Mariano Crowe", :name => "author"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic", :rel => "stylesheet"}/
    %link{:href => "css/impress-demo.css", :rel => "stylesheet"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
  
  %body.impress-not-supported
    //// FALLBACK
    .fallback-message
      %p
        Tu navegador
        %b no soporta la tecnología
        utilizada en esta presentación, por lo tanto de presenta un versión simplificada
      %p
        Para ver al presentación tal y como fue diseñanada, por favor instala la última versión de
        %b
          %a{"href" => "https://www.google.com/chrome?hl=es", "target" => "_blank"}
            Chrome

    
    //// PRESENTACION
    #impress
      //// INTRO
      #intro.step.centered{"data-scale" => "1", "data-x" => "-2000", "data-y" => "-2800"}
        %img{:src => "img/lastraperas.png"}/
      #ywayra.title.step.centered{"data-scale" => "1", "data-x" => "-2000", "data-y" => "-2400"}
        %h1 +
        %img{:src => "img/wayra.png"}/
      #idea.title.step.centered{"data-scale" => "4", "data-x" => "-2000", "data-y" => "-1000"}
        %p =
        %h1 Las Traperas Online
        %h2
          %i tu asesor de moda personal

      //// TIMELINE
      #timeline.centered.step{"data-x" => "1800", "data-y" => "-1200", "data-scale"=>"2"}
        %iframe{"src"=>"timeline.html","width"=>"900","height"=>"600"}
        
        
      //// PROBLEMAS
      #problemas.step.big{"data-rotate" => "180", "data-scale" => "6", "data-x" => "3500", "data-y" => "2100"}
        %p
          %b PRO BLE MAS

      .deco.big.centered{"data-rotate" => "180", "data-x" => "500", "data-y" => "3500", "data-scale" => "5"}
        %h1 MODA

      .deco.big.centered{"data-rotate" => "180", "data-x" => "500", "data-y" => "2200", "data-scale" => "5"}
        %h1 MERCADO

      .deco.centered{"data-rotate" => "180", "data-x" => "500", "data-y" => "900", 'data-scale'=>'5'}
        %h1
          PUBLICIDAD
          %br/
          ONLINE

      ////PROBLEMAS EN LA MODA
      #problemas-moda.step{"data-rotate" => "180", "data-scale" => "1", "data-x" => "2200", "data-y" => "3500", "data-z" => "-1000"}
        %p En la Moda
        
      ////HOGENIZACION
      .step.slide{"data-rotate" => "180", "data-x" => "-2000", "data-y" => "3500"}
        %h1 falta de identidad y homogenizacion
        %p.centered
          %img{"src"=>"img/moda.jpg","width"=>"600"}
        %span.footnote NUESTRO PLUS: autoconocimiento + diversidad (Una forma de conocerte más jugando)

      ////FALTA COMUNIDAD
      .step.slide{"data-rotate" => "180", "data-x" => "-3000", "data-y" => "3500"}
        %h1 alta de comunidades locales de moda
        %p
          %ul
            %li 2000 usuarios registrados
            %li 200 proveedoras
            %li 8000 p
        %span.footnote ya tenemos indentificada a la comunidad
      
      ////POCO SOSTENIBLE
      .step.slide{"data-rotate" => "180", "data-x" => "-4000", "data-y" => "3500"}
        %p
          %h1 poco sostenible
          %ul
            %li
              %h3 Para producior 1 Kg. de ROPA (en promedio):
            %li se requieren 1446 galones de AGUA
            %li 1.5 kilos de FERTILIZANTES
            %li 1kg de PESTICIDAS
            %li y produce 1.6 kilos de GASES de efecto invernadero
            %span.footnote
              %a{:href => "http://www.wordstream.com/articles/facebook-vs-google-display-network", :target => "_blank"} http://www.wordstream.com/articles/facebook-vs-google-display-network
            %br/
      
      ////PROBLEMAS DEL MERCADO
      #problemas-mercados.step{"data-rotate" => "180", "data-scale" => "1", "data-x" => "-1020", "data-y" => "2800"}
        %p En los Mercados
        
      ////NECESIDAD BASICA
      .step.slide{"data-rotate" => "180", "data-x" => "-1000", "data-y" => "2200"}
        %p
          todos usamos ropa, pero no todos usamos el mismo tipo
          
          tenemos identificados targets: señora ficha, la chibola vintage, la ejecutiva, la moderna, hippie ...

        %p.centered
          %img{"src"=>"img/mercado1.jpg","width"=>"600"}
      
      ////NICHO ESPECIFICO
      .step.slide{"data-rotate" => "180", "data-x" => "-2000", "data-y" => "2200"}
        %p no existe un lugar donde intercambiar ropa
        %p.centered
          %img{"src"=>"img/mercado2.jpg","width"=>"600"}
        
      ////PROBLEMAS EN LA PUBLICIDAD ONLINE
      #problemas-publicidad-online.step{"data-rotate" => "180", "data-scale" => "1", "data-x" => "-1020", "data-y" => "1400", "data-z" => "-3000"}
        %p.centered En la Publicidad Online
       
      ////CANTIDAD ABRUMADORA
      .step.slide{"data-rotate" => "180", "data-x" => "-1000", "data-y" => "900"}
        %h2 Extremadamente centralizada
        %iframe{"src"=>"graph/distrib-ganancias.html","width"=>"500","height"=>"500"}
        %span.footnote
          %a{:href => "http://www.emarketer.com/PressRelease.aspx?R=1008450", :target => "_blank"} http://www.emarketer.com/PressRelease.aspx?R=1008450
        
                
      ////POCO CERTERA
      .step.slide{"data-rotate" => "180", "data-x" => "-2000", "data-y" => "900"}
        %p
          %h2
            poco certera
          %div
            %p
              Basada en datos
              %i inferidos
              de los navegadores o propios una plataforma específica (aka fb)
            %br/
            
          %div.left{"style"=>"width:60%"}
            \=> los usuarios necesitamos
            %i sintonizar
            la publicidad a nuestras necesidades
          %img{"src"=>"http://inthepinesonfbi.files.wordpress.com/2011/03/lady-with-wireless-radio-vintage-rp-postcard_270700241964.jpg?w=500","style"=>"float:left"}

            
      ////MUCHO WASTE
      .step.slide{"data-rotate" => "180", "data-x" => "-3000", "data-y" => "900"}
        %p
          %h2 extremadamente masiva y poco eficiente
          %p facebook tiene una penetración del 51% de la población de internet
          %p google tiene una penetración del 90% de la población de internet
          %p facebook sirve  1 trillon de paginas al mes
          %p gooogle sirve 180 billones de anuncios mensualmente
          %p en facebook solamente 5 de cada 100 anuncios mostrados son clickeados
          %p 3 de cada 10 anuncios mostrados en internet, nunca son vistos por los usuarios

          %span.footnote
            %a{:href => "http://www.wordstream.com/articles/facebook-vs-google-display-network", :target => "_blank"} www.wordstream.com

            %a{:href => "http://www.periscopix.co.uk/blog/latest-2011-google-display-network-benchmarks", :target => "_blank"} www.periscopix.co.uk

            %a{:href => "http://venturebeat.com/2012/02/02/facebook-ctr/", :target => "_blank"} www.venturebeat.com

            %a{:href => "http://www.comscoredatamine.com/2012/02/3-in-10-display-ads-delivered-are-never-seen-often-because-users-fail-to-scroll-down-the-webpage-or-scroll-too-fast/", :target => "_blank"} www.comscoredatamine.com
                 

      ////LA HERRAMIENTA
      #la-herramienta.step.centered{"data-rotate" => "-90", "data-scale" => "12", "data-x" => "8000", "data-y" => "2100"}
        %h1 La herramienta
        %small
          %q ¿Cómo sería?

      .deco.big.centered{"data-x" => "10600", "data-y" => "3300", "data-scale"=>"10"}
        %h1 usuarios

      .deco.big.centered{"data-x" => "10000", "data-y" => "900", "data-scale"=>"7"}
        %h1 nosotros

      .deco.big.centered{"data-x" => "11500", "data-y" => "900", "data-scale"=>"5"}
        %h1
          el
          %br/
          planeta

      ////USUARIOS 1: JUEGOS Y TESTS
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "9400", "data-y" => "2600"}
        %span.title para las usuarias:
        %span.desc
          tests lúdicos sobre tus gustos
          %sup *
        %div.content
          %img{"src"=>"img/use-case1.png","width"=>"950",:style=>"margin-left:-100px" }
        %span.footnote
          %sup *
          La misma razon por la que funciona cosmopolitan

      ////NOSOTROS 1
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "9400", "data-y" => "1500"}
        %div.title a Nosotros
        %div.content nos permite conocer a nuestr@s usuari@s e identificar tempranamente tendencias
        
      ////USUARIOS 2: PERSONALIZACION
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "10200", "data-y" => "2600"}
        %span.title para los usuarios:
        %span.desc aprende de ellos y les ofrece lo que realmente les puedan interesar
        %div.content
          %img{"src"=>"img/use-case2.png","width"=>"950",:style=>"margin-left:-100px"}

      ////NOSOTROS 2
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "10000", "data-y" => "1500"}
        %div.title a nosotros
        %ul.content
          %li nos permite itentificar posibles proveedoras
          %li estimular la creación de un vínculo entre usuaria-herramienta
          %li ofertar a la medida

        
      ////USUARIO 3: HUELLA ECOLOGICA
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "11000", "data-y" => "2600"}
        %span.title para los usuarios:
        %span.desc calcula tu huella ecológica
        %div.content.centered
          %img{"src"=>"img/use-case3.png","width"=>"950",:style=>"margin-left:-100px"}

      ////PLANETA 1
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "10600", "data-y" => "1500"}
        %div.title para el planeta
        %div.content crea conciencia y promueve el consumo responsable

      ////USUARIO 4: Y MUCHO MÁS
      .step.slide.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "11800", "data-y" => "2600"}
        %div.title para los usuarios
        %div.desc ... y mucha interacciones más
        %ul.content
          %li mandarle opciones a tu amiga
          %li hacer el test como si fueras tu amiga y mandarle el resultado y compararlo (como te ven tus amigas?)
          %li pedir recomendaciones para situaciones especiales (soy dark y tengo un matri de día, que me pongo?)
          %li promosionar tus productos entre tus amigas
          %li si eres una excelente proveedora, crearte tu propio espacio virtual!
          %li publicar tus combinaciones de prendas
          %li comentar, recomendar con tar historias alrededor de la ropa
          %li dar feedback a la plataforma: además de los colores, me gustaría poder decir si me gustan las prendas apretadas o sueltas
          %li app movil para que puedas atachar fotos a tus prendas, asi poder promocionarlas mejor
          %li tips de cómo promocionar tu ropa en la plataforma
          %li bitácora: hace un año te compraste una compita blanca, qué fue de ella?. Te acuerdas cuando tenias 20 años y eras punk?
        %p ... y mil cosas más q no entran en esta presentación!
          
      ////NOSOTROS 3
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "11200", "data-y" => "1500"}
        %div.title a Nosotros nos brinda
        %ul.content
          %li Información más confiable y de primera mano
          %li + una herramienta para el estudio "en vivo" de mercado
          %li
            \=
            %strong Un modelo de negocio basado en la gestión de la información y el conocimiento, que nos permite adaptarnos rápidamente a los cambios del mercado.

      ////PLANETA 2
      .step.tool{"data-rotate" => "-90", "data-scale" => "0.75", "data-x" => "11800", "data-y" => "1500"}
        %div.title para el Planeta y la Humanidad
        %ul.content
          %li Democratización del acceso a la moda
          %li Descentralización y desverticalización de la economía
          %li Minimización de la huella ecológica

      ////POR QUÉ DEBEN ELEGIRNOS
      #por-que-elegirnos.step.centered{"data-scale" => "0.20", "data-x" => "8505", "data-y" => "2000"}
        /%object{:data => "img/Erioll_world_2.svg", :height => "800", :type => "image/svg+xml"}
        /%embed{:src => "img/Erioll_world_2.svg", :type => "image/svg+xml"}/
        /%img#world_img.hidden{:src => "img/world.png"}/
        %div.title ¿Por qué deben elegirnos?
        %ul.content
          %li Equipo multidisciplinario de creativos
          %li Mayormente compuesto por mujeres
          %li Tenemos un mercado ya identificado
      
     
      ////CIERRE
      #por-la-pacha.step.centered{"data-scale" => "0.20", "data-x" => "8505", "data-y" => "2190"}
        /%object{:data => "img/Erioll_world_2.svg", :height => "800", :type => "image/svg+xml"}
        /%embed{:src => "img/Erioll_world_2.svg", :type => "image/svg+xml"}/
        /%img#world_img.hidden{:src => "img/world.png"}/
        %div
          %p compra con mucho gusto
          %p poco gasto
          %p y la conciencia limpia
        %br
        %img{"src"=>"img/logo-reciclaje.png"}
        %br
        %a{:href=>"http://www.lastraperas.com",:target=>"_target"} www.lastraperas.com

      #overview.step{"data-scale" => "15", "data-x" => "3000", "data-y" => "1500"}
  
    ////HINT
    .hint
      %p Barra espaciadora o flechas para navegar
    :javascript
      if ("ontouchstart" in document.documentElement) { 
          document.querySelector(".hint").innerHTML = "Tap a la izquierda o derecha para navegar";
      }
    
    ////IMPRESS IMPORT
    %script{:src => "js/impress.js"}
    :javascript
      impress().init();
    
    ////FOOTER
    %div{:style => "position: fixed; bottom: 10px; left: 10px; pointer-events: auto;"}
      %a{"href" => "https://www.google.com/chrome?hl=es", "target" => "_blank"}
        %img{:atl => "google chrome recomendado", :src => "img/bvi-chrome.png", :title => "google chrome recomendado"}/

    ////ANALYTICS
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26282201-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
